.form-title {
    color: $pink-2;
}

#form {
    color: $pink-2;

    input,
    textarea {
        box-shadow: 0 0 8px $pink-3;
    }

    input[type="checkbox"] {
        border: 1px solid $pink-2;
        box-shadow: none;

        &:checked {
            background-color: $pink-3;
        }
    }

    .services {
        box-shadow: 0 0 5px $pink-2;
    }

    .address-container {
        position: relative;

        #suggestions {
            background-color: white;
            color: black;
            position: absolute;
            left: 12px;
            right: 12px;
            z-index: 1;
            max-height: 130px;
            overflow-y: auto;

            li {
                cursor: pointer;

                &:hover {
                    background-color: $pink-3;
                    color: white;
                }
            }
        }
    }
}
