#apartments {
    .card {
        background-color: transparent;
        border-color: rgb(255, 222, 223);
        a {
            text-decoration: none;

            .card-title {
                color: rgb(255, 222, 223);
            }

            .price {
                color: rgb(255, 93, 88);
                font-size: 22px;
            }

            .details {
                font-size: 20px;

                i {
                    color: rgb(255, 93, 88);
                }

                .number {
                    color: rgb(255, 222, 223);
                }
            }
        }
    }
}
