.btn-backoffice {
    position: relative;
    font-size: 28px;
    border: none;
    background-color: transparent;
    color: $pink-2;
    text-decoration: none;
    transition: all 0.5s;

    &.bordered {
        border: 1px solid $pink-2;
        border-radius: 5px;

        &:hover {
            color: $pink-2;
            background-color: $pink-3;
        }
    }

    &:hover {
        color: $pink-3;
    }

    &:hover .messages-notification {
        color: $pink-2;
    }

    .messages-notification {
        position: absolute;
        width: 18px;
        height: 18px;
        line-height: 18px;
        top: 10px;
        right: 10px;
        font-size: 10px;
        font-weight: bold;
        background-color: $pink-3;
        border-radius: 50%;
    }

    .messages-notification.small {
        right: 2.5px;
    }
}
