.confirmation-modal{
    height: 250px;
    width: 375px;
    border: 1px solid gray;
    border-radius: 10px;

    .buttons {
        background-color: lightgrey;
        border-radius: 10px;
    }
}