body {
    background-color: $main-bg;
    font-family: "Spectral", serif;
}

#thumb-preview {
    border-radius: 5%;
    height: 100px;
    transition: 1s;
    scale: 1;

    &:hover {
        transition: 1s;
        scale: 2;
        cursor: pointer;
    }
}

.container-detail-main {
    border-radius: 15px 15px 15px 15px;

    .detail-main-img {
        border-radius: 15px 0px 0px 15px;
    }
}
