body {
    background-color: rgb(49, 51, 56);
}

#thumb-preview {
    border-radius: 5%;
    height: 100px;
    transition: 1s;
    scale: 1;

    &:hover {
        transition: 1s;
        scale: 2;
        cursor: pointer;
    }
}

.container-detail-main {
    border-radius: 15px 15px 15px 15px;

    .detail-main-img {
        border-radius: 15px 0px 0px 15px;
    }
}

.bg-light.is-read {
    background-color: lightgray !important;
}

.btn-messages {
    position: relative;

    .messages-notification {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-30%, -30%);
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

.message-row {
    font-size: 14px;
}

.address-container {
    position: relative;

    #suggestions {
        background-color: white;
        position: absolute;
        left: 12px;
        right: 12px;
        z-index: 1;
        max-height: 130px;
        overflow-y: auto;

        li {
            cursor: pointer;

            &:hover {
                background-color: rgb(13, 110, 253);
                color: white;
            }
        }
    }
}

#apartments {
    .card {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        &:hover {
            box-shadow: 0 10px 10px rgb(255, 93, 88);
            transform: translateY(-5px);
        }

        .card-body {
            h5.card-title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            ul {
                li {
                    font-size: 1.1rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
