.logo {
    p {
        margin-left: -24px;
        letter-spacing: 5px;
    }

    &:hover {
        text-shadow: 0 0 5px red;
        -webkit-filter: drop-shadow(5px 5px 5px #f50606);
        filter: drop-shadow(5px 5px 5px #e00000);
    }
}

.navbar {
    background-color: $secondary-bg;
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    img {
        max-height: 110px;
    }

    .dropdown-menu {
        background-color: $secondary-bg;

        .dropdown-item:hover {
            color: white;
            filter: brightness(1);
            background-color: $pink-3;
        }

        .dropdown-item:focus {
            color: white;
            filter: brightness(1);
            background-color: $pink-3;
        }
    }

    a {
        color: $pink-1;
        filter: brightness(0.8);
        transition: all 0.5s;

        &.nav-link.active {
            color: $pink-3;
            filter: brightness(1);
        }

        &.nav-link:hover {
            color: $pink-3;
            filter: brightness(1);
        }

        &.nav-link:focus {
            color: $pink-3;
            filter: brightness(1);
        }

        &.nav-link-dropdown-toggle.show {
            color: white;
        }

        &.logo {
            color: $pink-3;
            font-weight: bold;
            font-size: 19px;


            &:hover {
                color: $pink-3;
                filter: brightness(1);
            }
        }
    }
}