.navbar {
    background-color: $secondary-bg;
    color: white;
    height: 80px;

    img {
        max-height: 80px;
    }

    .dropdown-menu {
        background-color: $secondary-bg;

        .dropdown-item:hover {
            color: white;
            filter: brightness(1);
            background-color: $pink-3;
        }

        .dropdown-item:focus {
            color: white;
            filter: brightness(1);
            background-color: $pink-3;
        }
    }

    a {
        color: $pink-1;
        filter: brightness(0.8);
        transition: all 0.5s;

        &.nav-link.active {
            color: $pink-3;
            filter: brightness(1);
        }

        &.nav-link:hover {
            color: $pink-3;
            filter: brightness(1);
        }

        &.nav-link:focus {
            color: $pink-3;
            filter: brightness(1);
        }

        &.nav-link-dropdown-toggle.show {
            color: white;
        }

        &.logo {
            color: $pink-3;
            font-weight: bold;
            font-size: 24px;

            &:hover {
                color: $pink-3;
                filter: brightness(1);
            }
        }
    }
}
